@use "./variables" as v;

@mixin for-size($size) {
  @if $size == tablet {
    @media screen and (min-width: v.$tablet) {
      @content;
    }
  }
  @if $size == desktop {
    @media screen and (min-width: v.$desktop) {
      @content;
    }
  }
}

@mixin forButton {
  background-color: $btncolor;
  border-radius: 12px;
  height: 2rem;
  padding: 0.5rem 2rem;
  border: 1px solid rgb(172, 172, 172);
  margin: 0.5rem 0.5rem;
}

@mixin hoverEffect {
  background-color: rgb(241, 213, 227);
  cursor: pointer;
}

//För att använda
// @include m.for-size(tablet eller desktop){
//   HÄR ÄR DIN CSS FÖR STÖRRE SKÄRMSTORLEK
// }
