@use "./mixins" as m;
@import "mixins";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Brush Script MT", cursive;
  overflow-x: hidden;
}
.main {
  max-width: 1280px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}
/* -----header-- */
.header {
  position: sticky;
  top: 0;
  height: 10vh;
  z-index: 200;
  background-color: rgb(240, 196, 218);
  text-decoration: none;
  &__mobileContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 1rem 0 1rem;

    &--hamburger-btn {
      font-size: 2rem;
      background-color: rgb(240, 196, 218);
      border: 0;
      cursor: pointer;
    }

    &--logo {
      width: 5rem;
    }

    &--cartIcon {
      display: flex;
      font-size: 2rem;
    }
    &--links {
      display: none;
    }
  }
  @include m.for-size(tablet) {
    display: flex;
    justify-content: center;
    &__mobileContainer {
      max-width: 1280px;
      &--hamburger-btn {
        display: none;
      }
      &--links {
        display: flex;
        gap: 2rem;
        font-weight: bold;
        & > * {
          color: #000000;
          text-decoration: none;
          font-size: 1.5rem;
        }
      }
    }
  }
}

.cartLen {
  color: #d14848;
  font-size: 1rem;
  font-family: Tahoma, sans-serif;
}

.humMenu {
  position: fixed;
  top: 0;
  background-color: rgb(240, 196, 218);
  width: 100vw;
  height: 100vh;
  z-index: 200;
  animation-name: dropDown;
  animation-duration: 0.75s;
  &__closeBtn {
    border: 0;
    font-size: 2rem;
    background-color: rgb(240, 196, 218);
  }
}
@keyframes dropDown {
  0% {
    width: 0rem;
  }
  100% {
    width: 100vw;
    height: 100vh;
  }
}
/* ----------------hero img---------------- */
.heroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/img/3roses.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 50vh;
  &__title {
    z-index: 100;
    color: rgb(249, 246, 246);
    font-size: 50px;
  }
}

/* --------------preview imgs-------------- */
.previewTitleContainer {
  display: flex;
  justify-content: center;

  &__title {
    margin-top: 3rem;
    font-size: 1.5rem;
  }
}

.previewsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  &__flower {
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 48%;
    height: auto;
    overflow: hidden;
    border-radius: 12px;

    &--img {
      display: block;
      transition: transform 0.25s, visibility 0.25s ease-in;
      object-fit: cover;
      width: 100%;
      height: auto;
      margin-top: 2%;
      &:hover {
        transform: scale(1.1);
      }
    }
    &--name {
      position: absolute;
      bottom: 0;
      background: rgb(0, 0, 0);
      background: rgba(0, 0, 0, 0.5);
      color: #f1f1f1;
      transition: 0.5s ease;
      opacity: 1;
      width: 100%;
      height: 20%;
      color: white;
      font-size: 20px;
      padding: 10%;
      text-align: center;
      &:hover {
        opacity: 1;
      }
      @include m.for-size(tablet) {
        opacity: 0;
      }
    }

    @include m.for-size(tablet) {
      max-width: 22%;
    }
  }

  @include m.for-size(tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.previewsContainer__flower:hover .previewsContainer__flower--name {
  opacity: 5;
}
/* ---------producter----------- */
#products {
  h3 {
    display: flex;
    justify-content: center;
    border: 2px solid rosybrown;
    margin: 10px 0 10px 0;
  }
}

#product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  @include m.for-size(tablet) {
    flex-direction: column;
  }
}

#flower-container,
#flower-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 2rem;
  flex-direction: column;
  @include m.for-size(tablet) {
    flex-direction: row;
    gap: 2rem;
  }
}

.flowerBuyBtn {
  @include forButton;
  &:hover{
    @include hoverEffect;
  }
}


.flowerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  cursor: pointer;
}

.flowerImg {
  width: 400px;
  height: 400px;
  object-fit: contain;
}

.productModal {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  z-index: 300;
  top: 10%;
  width: 100%;
  height: 90%;
  margin: 0;
  /* padding: 5rem; */
  background-color: beige;
  overflow-x: hidden;
}

.productModalContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__img {
    width: 400px;
    height: 400px;
  }
}
#productModalClose{
position: relative;
left: 70%;
top: 10%;
width: 2rem;
height: 2rem;
font-size: 1.5rem;
border: none;
margin: 0;
background-color: beige;
}
/* -----------------cart css */
.cartContainer {
  display: none;
  position: fixed;
  z-index: 250;
  top: 10%;
  left: 20%;
  min-width: 60%;
  min-height: 50%;
  max-height: 50%;
  background-color: beige;
  overflow: scroll;
  overflow-x: hidden;
  &__close {
    position: relative;
    left: 90%;
    top: 90%;
    font-size: 3rem;
    margin: 0;
  }
}
.nice {
  background-color: beige;
}

.emptyContainr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40vh;
}

.emptyContainrText,
.emptyContainrIcon {
  position: absolute;
  font-size: 3rem;
}

.cartImg {
  width: 100px;
  height: 100px;
}

#totalCart-container {
  position: relative;
  display: flex;
  flex-direction: row;
}

.cartDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1rem;
}

#cart-Content {
  width: 60%;
}

#checkout-Container {
  width: 40%;
  left: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#checkoutBtn {
  @include forButton;
  &:hover {
    @include hoverEffect;
  }
}

.addFlowerBtn {
  @include forButton;
  padding: 0;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  font-size: 1.5rem;
  &:hover{
    @include hoverEffect;
  }
}

.removeFlowerBtn {
  @include forButton;
  padding: 0;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  font-size: 1.5rem;
  &:hover{
    @include hoverEffect;
  }
}

.addNone {
  display: none;
}

/* ---------------------- */

.paymentContainer {
  display: none;
  position: fixed;
  z-index: 250;
  top: 10%;
  width: 100%;
  height: 90%;
  margin: 0;
  background-color: beige;
  overflow-x: hidden;
  &__close {
    position: relative;
    left: 90%;
    font-size: 3rem;
    margin: 0;
    height: 8%;
    display: flex;
    align-items: center;
  }
  &__content {
    width: 60%;
    background-color: pink;
    height: 70%;
  }
}

.paymentContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__product {
    flex: 50%;
    background-color: #ffffff;
    flex-direction: column;
    width: 90%;

    &--img {
      width: 4rem;
    }
  }
  &__pay {
    flex: 49%;
    background-color: #ffffff;
    min-height: 70vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;

    &--btn{
      @include forButton;
      &:hover{
        @include hoverEffect;
      }
  }
}
}

.simLoad{
  background-color: beige;
  display: none;
  position: fixed;
  width: 30%;
  height: 20%;
  left: 35%;
  top: 40%;
}





.paymentProductList {
  display: flex;
  &__img {
    width: 6rem;
  }
}

/* ---------animation----------- */
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #48a1d1;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

